.DS_Store
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Production directories and files
/dist
dist.7z

# Offline vendors no save
/public/nosave
