/* COLORS ==================================== */

/* MAIN COLORS ------------------ */
$grey-0:          #F9F9F9;    /* BACKGROUND GREY */
$grey-1:          #F4F5F6;    /* SECTION GREY */
$grey-2:          #F1F1F1;    /* FOOTER GREY */
$grey-3:          #E2E4E3;    /* OUTLINE GREY */
$grey-4:          #D1D4D4;    /* OUTLINE DARK GREY */
$grey-5:          #B4B6Ba;    /* ICON GREY */
$grey-6:          #77797C;    /* COPY GREY */
$grey-7:          #3D3D3D;    /* DARK GREY */
$grey-8:          #111111;    /* VERY DARK GREY */

$blue-0:          #D5E8F2;    /* LIGHT STEEL */
$blue-1:          #78BEFA;    /* LIGHT BLUE */
$blue-2:          #42A2DA;    /* MEDIUM BLUE */
$blue-3:          #368EC4;    /* DARK BLUE */
$blue-4:          #005686;    /* 3DS CORPORATE STEEL BLUE */
$blue-5:          #003C5A;    /* DARK STEEL */

$green-0:         #EDF6EB;    /* LIGHT GREEN */
$green-1:         #57B847;    /* MEDIUM GREEN */
$green-2:         #477738;    /* DARK GREEN */

$red-0:           #FFF0EE;    /* LIGHT RED */
$red-1:           #EA4F37;    /* MEDIUM RED */
$red-2:           #844138;    /* DARK RED */

$orange-0:        #FFF3E9;    /* LIGHT ORANGE */
$orange-1:        #E87B00;    /* MEDIUM ORANGE */
$orange-2:        #8F4C00;    /* DARK ORANGE */

$cyan-0:          #F2F5F7;    /* LIGHT CYAN */
$cyan-1:          #00B8DE;    /* MEDIUM CYAN */
$cyan-2:          #0087A3;    /* DARK CYAN */

/* DATA VISUALIZATION COLORS ------------------ */
$yellow-dv-0:     #FEE000;
$blue-dv-0:       #009DDB;
$orange-dv-0:     #FF8A2E;
$violet-dv-0:     #9B2C98;
$turquoise-dv-0:  #00AA86;
$pink-dv-0:       #F564A3;
$blue-dv-1:       #8DDEE4;
$red-dv-0:        #CC092F;
$gray-dv-0:       #E2D5CC;
$green-dv-0:      #6FBC4B;
$violet-dv-1:     #70036b;
$blue-dv-2:       #002596;
$khaki-dv-0:      #C6C68B;
$gray-dv-1:       #7F7F7F;
$blue-dv-3:       #4EA8B7;
$green-dv-1:      #007A4C;
$gray-dv-2:       #ADADAD;
$turquoise-dv-1:  #127277;
$brown-dv-0:      #6D2815;
$black-dv-0:      #000000;
$blue-dv-4:       #4D62BA;

/* BRAND COLORS ------------------ */
$brand-color--primary:   $blue-4;
$brand-color--secondary: $blue-1;
$brand-color--tertiary:  $grey-1;
$brand-color--success:  $green-2;
$brand-color--info:     $cyan-2;
$brand-color--warning:  $orange-2;
$brand-color--error:    $red-2;

$bg-primary:             $brand-color--primary;
$bg-success:             $brand-color--success;
$bg-info:                $brand-color--info;
$bg-warning:             $brand-color--warning;
$bg-error:               $brand-color--error;

$text-primary:           $brand-color--primary;
$text-success:           $brand-color--success;
$text-info:              $brand-color--info;
$text-warning:           $brand-color--warning;
$text-error:             $brand-color--error;

/* TYPOGRAPHY ==================================== */

/* FONT FAMILY ------------------ */
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family:             $font-family-sans-serif;

/* FONT SIZE ------------------ */
$font-size:       14px;
$font-size-large: ceil(($font-size * 1.25)); /* ~18px */
$font-size-small: ceil(($font-size * 0.85)); /* ~12px */

/* LINE HEIGHT ------------------ */
/* http://stackoverflow.com/questions/19982651/why-does-bootstrap-set-the-line-height-property-to-1-428571429 */
$line-height: 1.428571429; /* 20/14 */

/* RESPONSIVE ==================================== */

/* BREAKPOINTS ------------------ */
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1600px;

/* MAX BREAKPOINTS ------------------ */
/* Define maximum range, useful when doing sm only for example */
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

/* Z-INDEX SCALE ==================================== */
$z-index-1:  100;
$z-index-2:  200;
$z-index-3:  300;
$z-index-4:  400;
$z-index-5:  500;
$z-index-6:  600;
$z-index-7:  700;
$z-index-8:  800;
$z-index-9:  900;
$z-index-10: 1000;

/* GLOBALS ====================================== */
$spacer:                            1rem !default;
$border-width:                      1px !default;
$border-width-lg:                   3px !default;

/* COMPONENTS ==================================== */
// TAB ====================================
$tab-margin:                        $spacer !default;

$tab-border-color:                  $grey-3 !default;
$tab-border-width:                  $border-width !default;

$tab-item-padding:                  11px 14px;

$tab-item-color:                    $grey-6 !default;
$tab-item-hover-color:              $grey-7 !default;
$tab-item-active-color:             $grey-7 !default;
$tab-item-hover-icon-color:         $grey-7 !default;
$tab-item-active-icon-color:        $blue-3 !default;


$tab-item-border-width:             3px !default;
$tab-item-border-hover-color:       $grey-6 !default;
$tab-item-border-active-color:      $blue-3 !default;

$tab-pills-margin:                  2px !default;
$tab-pills-padding:                 8px 14px;
$tab-pills-active-color:            #fff !default;
$tab-pills-hover-bg:                $grey-2 !default;
$tab-pills-hover-color:             $grey-7 !default;
$tab-pills-active-bg:               $blue-3 !default;

$tab-disabled-color:                $grey-4 !default;
